.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .section {
    padding: 94px 0;
  }
  
  .section--no-bottom {
    padding-bottom: 0;
  }

  .section--background-color {
    background-color: var(--secondary-background-color);
  }

  .list-styler {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .icon {
    fill: currentColor;
  }
  
  .socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 44px;
    height: 44px;
    
    border-radius: 50%;
    
  }
  
  